<?xml version="1.1" ?> 
<robot name="plane"> 

  <link name="box">
    <contact>
        <lateral_friction value="1"/>
    </contact>

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value=".0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.4 0.4 0.6"/>
      </geometry>
      <material name="table_gray"/>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.4 0.4 0.6"/>
      </geometry>
    </collision>

  </link>

  <material name="table_gray">
    <color rgba=".7686 .6431 .5176 1."/>
  </material>
</robot>
